html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#home {
    min-height: 100%;
    min-width: 100%;
    background-image: url('https://ih1.redbubble.net/cover.4092629.2400x600.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}   

.categ-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 100px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 10%;
}

.categ-item1 {
    text-align: center;
    width:100%;
}

.categ-item1 img {
    border: solid 20px #2A4883;
    border-radius: 25%;
    height: 100%;
    width: 100%;
    transition: transform 0.2s;
}

.categ-item2 {
    text-align: center;
    width:100%;
}

.categ-item2 img {
    border-color: linear-gradient(to bottom right, #ECCFA3 16%,#e677c4 51%,#2A4883 84%);
    border-radius: 25%;
    height: 100%;
    width: 100%;
    transition: transform 0.2s;
}

.categ-item3 {
    text-align: center;
    width:100%;
}

.categ-item3 img {
    border-color: linear-gradient(to bottom right, #ECCFA3 16%,#e677c4 51%,#2A4883 84%);
    border-radius: 25%;
    height: 100%;
    width: 100%;
    transition: transform 0.2s;
}

.categ-item4 {
    text-align: center;
    width:100%;
}

.categ-item4 img {
    border-color: linear-gradient(to bottom right, #ECCFA3 16%,#e677c4 51%,#2A4883 84%);
    border-radius: 25%;
    height: 100%;
    width: 100%;
    transition: transform 0.2s;
}

.categ-item5 {
    text-align: center;
    width:100%;
}

.categ-item5 img {
    border-color: linear-gradient(to bottom right, #ECCFA3 16%,#e677c4 51%,#2A4883 84%);
    border-radius: 25%;
    height: 100%;
    width: 100%;
    transition: transform 0.2s;
}

.categ-item6 {
    text-align: center;
    width:100%;
}

.categ-item6 img {
    border-color: linear-gradient(to bottom right, #ECCFA3 16%,#e677c4 51%,#2A4883 84%);
    border-radius: 25%;
    height: 100%;
    width: 100%;
    transition: transform 0.2s;
}

img:hover {
    transform: rotate(6deg);
    cursor: pointer;
}

img:hover img {
    transition: transform 0.2s;
}

.categ-item p {
    margin: 2%;
    font-size: xx-large;
    font-weight: bolder;
    z-index: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}