#home {
    min-height: 50vh;
    background-image: url('https://ih1.redbubble.net/cover.4092629.2400x600.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}   

.categ-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto);
    grid-gap: 100px;
    margin: 0 auto;
    padding: 10%;
    max-height: 75%;
    
}

.categ-item {
    max-width: fit-content;
    text-align: center;
}

.categ-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    box-shadow: 6px 8px 10px 2px #0a142b;
    height: 350px;
    width: 350px;
    position: relative;
    padding: 10px;
    background: linear-gradient(to bottom right, #ECCFA3 16%,#e677c4 51%,#2A4883 84%); 
}

.categ-image-container img {
    border-radius: 25%;
    height: 350px;
    width: 350px;
    transition: transform 0.2s;
}

.categ-image-container:hover {
    transform: rotate(6deg);
    cursor: pointer;
}

.categ-image-container:hover img {
    transition: transform 0.2s;
}

.categ-item p {
    margin: 5px;
    font-size: xx-large;
    font-weight: bolder;
    position: relative;
    z-index: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}