body {
  margin: 0%;
}
header {
  background: radial-gradient(circle, rgb(128, 65, 230), rgb(34, 138, 223));
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box {
  width: 150px;
  height: 150px;
  background-image: url(../imagenes/logoKOKO.png);
  background-position: center;
}
.logo {
  width: 330px;
  height: 100px;
  margin-left: 20%;
}
.barranav {
  display: flex;
  align-items: center;
  height: 35vh;
  margin-left: 15%;
}
ul {
  display: inline;
  list-style: none;
}

.navbar li {
  display: inline;
  align-items: center;
  margin-right: 18px;
}
nav a {
  text-decoration: underline;
  color: rgb(179, 175, 245);
  font-size: xx-large;
}
#products {
  background-color: violet;
}

.subscribe {
  margin-right: 9%;
  margin-top: -8%;
}

p {
  font-size: x-large;
  color: violet;
  float: left;
  width: 70%;
  margin-right: 10px;
}
.sobre {
  float: left;
  width: 20%;
}
.shoping {
  height: 40px;
  margin-bottom: 450%;
  float: left;
  margin-left: 1320%;
}

button :hover {
  cursor: pointer;
}
.carro :hover {
  cursor: pointer;
}
.separator {
  border-top: 5px;
  background-color: rgb(169, 78, 253);
}
.logo:hover {
  cursor: pointer;
}
.sobre:hover {
  cursor: pointer;
}
.boton{
  display: flexbox;
  margin-top: 120%;
  margin-left: 50%;
  padding: 15px 50px;
  width: 250px;
  height: 50px;
  background-color: #7648e0;
  color: #fff;
  text-decoration: none;
  border:black;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgb(25, 5, 34);
}
